<div class='maindiv'>
    <h3 style='text-align:center;'>{{header}}</h3>
    <table class='table'>
        <tr>
            <th>EMP ID</th>
            <th>NAME</th>
            <th>SALARY</th>
            <th>GENDER</th>
            <th>ACTION</th>
        </tr>
        <tr *ngFor='let emp of employees;let i=index' style='padding:2px'>
            <td>{{emp.empid}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.salary}}</td>
            <td [ngSwitch]='emp.gender'>
                <p *ngSwitchCase='"M"'>Male</p>
                <p *ngSwitchCase='"F"'>Female</p>
                <p *ngSwitchDefault>Unspecified</p>
            </td>
            <td>
                <button class='btn btn-danger' (click)='delete(i)'>Delete</button>

                <a [routerLink]="['/update',i]" class='btn btn-primary'>Update</a>
            </td>
        </tr>

    </table>
    
</div>