<div class='emp'>
    <table class='table'>
        <tr>
            <td>Employee Id</td>
            <td><input type='text' [(ngModel)]='employee.empid' readonly></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type='text' [(ngModel)]='employee.name'></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type='text' [(ngModel)]='employee.salary'></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type='text' [(ngModel)]='employee.gender'></td>
        </tr>
        <button (click)='updated()' class='btn btn-success'>Dismiss</button>

    </table>
</div>