

<div>
    <p> Select an image:</p>
    <input type='radio'  #img1  name='image' value='lion' (change)='changeImage(img1)'>Lion<br> 
    <input type='radio'  #img2  name='image' value='bird' (change)='changeImage(img2)'>Bird<br> 
    <input type='radio'  #img3  name='image' value='landscape' (change)='changeImage(img3)'>Landscape<br> 
    <input type='radio'  #img4  name='image' value='horse' (change)='changeImage(img4)'>Horse<br> 
</div>

<div>
    <img [src]='imageUrl' alt="Select an Image"/>
</div>
