<div class='emp'>

    <h3 style="text-align:center"> Create Employee</h3>

    <form #empForm='ngForm' (submit)='createNew(empForm.value)'>
        <div class='form-group'>
            <label for='eid'>Employee Id</label>
            <input id='eid' class='form-control' type='text' ngModel name='empid' #tempId='ngModel' required>
        </div>
        <div *ngIf='tempId.touched && tempId.invalid' class='alert alert-danger'>
            Please enter employee id. This field required
        </div>

        <div class='form-group'>
            <label for='nm'>Name</label>
            <input id='nm' class='form-control' type='text' ngModel name='name' #tname='ngModel' required>
        </div>
        <div *ngIf='tname.touched && tname.invalid'>
            <div *ngIf='tname.errors.required' class='alert alert-danger'>
                Please enter name
            </div>
        </div>
        <div class='form-group'>
            <label for='sal'>Salary</label>
            <input id='sal' class='form-control' type='number' ngModel #tsalary='ngModel' required name='salary'>
        </div>
        <div *ngIf='tsalary.touched && tsalary.invalid' class='alert alert-danger'>
            Please enter Salary
        </div>
        <button type='submit' class='btn btn-primary btn-block' [disabled]='empForm.invalid'>Submit</button>
    </form>

    <p  class='alert alert-success' *ngIf='successMessage != null' (click)='successMessage=null'>
        {{successMessage}}
    </p>
   
    <div *ngIf='errorMessage != null' class='alert alert-danger' (click)='errorMessage=null'>
        {{errorMessage}}
    </div>

    <div *ngIf='validationMessages != null' (click)='validationMessages=null'>
        <p *ngFor='let msg of validationMessages' class='alert alert-danger'>
            {{msg}}
        </p>
    </div>
</div>