<div class='emptbl'>
    <h3 style='text-align:center;'>{{header}}</h3>
    <table class='table table-striped'>
        <tr>
            <th>EMP ID</th>
            <th>NAME</th>
            <th>SALARY</th>
            <th>GENDER</th>
            <th>ACTION</th>
        </tr>
        <tr *ngFor='let emp of employees;let i=index'>
            <td>{{emp.empid}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.salary}}</td>
            <td [ngSwitch]='emp.gender'>
                <p *ngSwitchCase='"M"'>Male</p>
                <p *ngSwitchCase='"F"'>Female</p>
                <p *ngSwitchDefault>Unspecified</p>
            </td>
            <td>
                <button class='btn btn-danger' (click)='delete(i)'>Delete</button>
                <button class='btn btn-primary' (click)='modify(i)'>Modify</button>
            </td>
        </tr>

    </table>
    <p *ngIf='message !=null' class='alert alert-danger'>{{message}}</p>
    <button (click)='create=true'>Create New Employee</button>
</div>
<div class='emptbl' *ngIf='create'>
    <h3 style="text-align:center"> create Employee</h3>
    <table class='table'>
        <tr>
            <td>Employee Id</td>
            <td><input type='text' [(ngModel)]='empid' ></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type='text' [(ngModel)]='name' ></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type='number' [(ngModel)]='salary' ></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type='text' [(ngModel)]='gender'></td>
        </tr>

    </table>
    <button (click)='createNew()' class='btn btn-primary btn-block'>Create</button>
    <button (click)='cancel()' class='btn btn-danger btn-block'>Cancel</button>

    <p *ngIf='createMessage !=null' class='alert alert-danger'>{{createMessage}}</p>
</div>
<div class='emptbl' *ngIf='empToUpdate != null'>
    <emp-update [emp]='empToUpdate' (completed)='jobDone($event)'></emp-update>
</div>