<div class='emp'>
    <h3 style="text-align:center"> Create Employee</h3>
    <table class='table'>
        <tr>
            <td>Employee Id</td>
            <td><input type='text' [(ngModel)]='employee.empid'></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type='text' [(ngModel)]='employee.name'></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type='number' [(ngModel)]='employee.salary'></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type='text' [(ngModel)]='employee.gender'></td>
        </tr>

    </table>
    <button (click)='createNew()' class='btn btn-primary btn-block'>Create</button>
    <button (click)='cancel()' class='btn btn-danger btn-block'>Cancel</button>

    <p *ngIf='message != null' class='alert alert-danger'>{{message}}</p>
</div>